.block-img {
    margin-top: 3.5rem;
}

.css-ds73l {
    align-items: baseline !important;

    ul {
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-size: 1.125rem;
    }

    p {
        align-items: baseline;
        font-size: 1.125rem;
        
    }
}

.css-ds73l >  p, strong {
    color:#04D361
}

.css-ds73l {
    h2 {
        justify-content: left;
        
        text-align: left;
        align-items: left;
    }
}

.css-slqtim {
    ul {
        margin-top: 1rem;
        margin-bottom: 3rem !important;
    }
}