.swiper-button-prev:after, .swiper-button-next:after {
    color: #04D361
}

.swiper-pagination-bullet {
    width: 16px;
    height: 16px;
    background: #fff;
    opacity: 1
}

span.swiper-pagination-bullet, span.swiper-pagination-bullet-active {
    background: #04D361
}

.css-diy2hm {
    color: red,

}

.css-diy2hm {
    color: red !important;
    background-color: green.300;

}

